<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="np.edu.bvs.bvshigh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/bvs_logo_small"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".Select_Category">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Student" />
        <activity
            android:name=".Main_activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Student_Profile_Edit"
            android:parentActivityName=".Student_Profile">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="np.edu.bvs.bvshigh.Student_Profile"/>


        </activity>


        <activity
            android:name=".Student_Profile"
            android:parentActivityName="np.edu.bvs.bvshigh.Main_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="np.edu.bvs.bvshigh.Main_activity"/>

        </activity>

        <activity
            android:name=".fragment_routine"
            android:parentActivityName=".Main_activity">
        </activity>

        <activity android:name=".Register_Student" />

        <activity
            android:name=".fragment_calendar"
            android:parentActivityName="np.edu.bvs.bvshigh.Main_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="np.edu.bvs.bvshigh.Main_activity"/>

        </activity>


    </application>

</manifest>